#chart {
    width: 66%;  
    padding: 10px;  
    background-color: white;
    height: 300px;
    border-radius: 10px;
}
.year-filter{
    display: flex;
    align-items: center;
    gap: 7px;
}

.year-filter{
    font-size: 20px;
}