.chat-container {
  display: flex;
  font-family: "Arial", sans-serif;
  background-color: white;
  height: 100%;
}

.chat-sidebar {
  width: 27%;
  padding: 10px 10px 10px 0;
  border-right: 1px solid #e6e6e6;
  overflow-y: auto;
  scrollbar-width: thin;
}

.chat-header {
  margin-bottom: 20px;
}

.chat-title {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-icon {
  cursor: pointer;
  font-size: 30px;
  color: #005abf;
}

.chat-search {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #F7F5FF;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-search input {
  border: none;
  outline: none;
  flex-grow: 1;
  margin-left: 10px;
  background-color: inherit;
  color: #76777A;
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 500;
}

.search-icon {
  color: #005ABF;
  font-size: 26px;
}

.chat-search .sort-icon {
  margin-left: 10px;
  color: #777;
  font-size: 24px;
}

.chat-list {
  margin-top: 20px;
}

.chat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8px;
  max-height: 80px;
  cursor: pointer;
  border-radius: 12px;
}

.chat-list-item:hover {
  background-color: #f0f0f0;
}

.chat-list-item.active {
  background-color: #F7F5FF;
  border-radius: 8px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F1F0F4;
  color: #2B75CC;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-right: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.avatar svg{
  font-size: 25px;
}

.chat-info {
  flex-grow: 1;
}

.chat-info h3 {
  margin: 0;
  font-family: Nunito Sans;
  font-size: 18px;
  color: #2F3033;
  font-weight: 600;
}

.chat-info p {
  margin: 5px 0 0;
  font-family: Nunito Sans;

  font-size: 14px;
  color: #2F3033;
  font-weight: 600;
font-size: 12px;
}

.chat-info span{
  color: #909094;
}

.chat-meta {
  text-align: right;
  align-self: flex-start;
}

.time {
  font-size: 12px;
  color: #888;
}

.unread-count {
  background-color: #ff3b30;
  color: #ffffff;
  border-radius: 12px;
  padding: 2px 6px;
  font-size: 12px;
  margin-top: 5px;
}

.chat-group {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.chat-group h4 {
  margin: 0 0 5px;
  font-size: 16px;
}

.chat-group p {
  margin: 0;
  color: #666;
}

.chat-content {
  flex-grow: 1;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.chat-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;
}

.chat-content-user-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: left;
  margin-left: 7px;
}

.chat-content-user-info h3 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
}

.chat-users {
  font-family: Nunito Sans;
  font-weight: 600;
  font-size: 16px;

}

.online-status {
  font-size: 14px;
  color: green;
}

.chat-content-actions .action-icon {
  font-size: 20px;
  color: #666;
  margin-left: 15px;
  cursor: pointer;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  scrollbar-width: thin;
  background-color: #F5F5F5;
  padding: 18px 20px 0 20px;
}

.chat-messages > div {
  display: flex;
}

.message {
  padding: 7px 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  max-width: 280px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.message > p{
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 600;
}

.message-content p{
  font-family: Nunito Sans;
  font-size: 16px;
}

.received .message {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
}

.received {
  align-self: flex-start;
  display: flex;
}

.sent .message {
  background-color: #007bff;
  color: #ffffff;
}

.sent .message span{
  color: #F1F0F4;
}


.sent {
  align-self: flex-end;
}

.message-time {  
  font-family: Nunito Sans;
  font-size: 8px;
  font-weight: 500;
  color: #ABABAF;
  margin-top: 5px;
  display: block;
  text-align: right;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f1f0f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  gap: 10px;
}

.chat-input div{
  width: 100%;
  position: relative;
  background-color: white;
  border-radius: 8px;
}

.chat-input input {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 10px;
  height: 7vh;
  width: 95%;
  border-radius: 8px;
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 500;
}

.send-icon {
  color: #005ABF;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.chat-header-avatar-user {
  display: flex;
  align-items: center;
}

.message.indented {
  margin-left: 50px;
}

.chat-input >svg{
  font-size: 20px;
  cursor: pointer;
}
