.profile-container {
  margin: 20px auto; 
  margin-bottom: 60px;
}

.profile-container > div {
  background-color: #f9f9f9;
  border: none;
  padding: 20px;
  border-radius: 16px;
}

.personal-info,
.address-info {
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border: none;
  padding: 20px;
  border-radius: 16px;
}

.profile-container h2 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.profile-container .input-group {
  margin-bottom: 10px;
}

.profile-container label {
  display: block;
  margin-bottom: 10px;
  color: #2f3033;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 500;
}

.profile-container input[type="text"],
.profile-container textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
}

.profile-container input[type="text"],
.profile-container textarea {
  background-color: #eeeafa98;
  color: #2f3033;
  border-radius: 12px;
  border: none;
  width: 96%;
}

.profile-container textarea {
  width: 98%;
}

.profile-container .address-info {
  margin-top: 20px;
  padding-top: 20px;
}

.profile-table > div:first-of-type,
.address-info > div:first-of-type {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.input-group > div:first-of-type {
  background-color: #eeeafa98;
  color: #2f3033;
  border-radius: 12px;
  border: none;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.input-group div div {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.input-group div div input {
  background-color: inherit;
  border: none;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  outline: none;
}

.input-group svg {
  color: #005abf;
}

.input-group div div svg {
  font-size: 14px;
}

.profile-edit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profile-edit button {
  display: flex;
  gap: 7px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  color: #333;
  align-items: center;
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

.profile-edit button svg {
  color: #005abf;

}

.profile-container .address-info h2{
  margin-bottom: 20px;
  
}

#profile-edit-userType {
    width: 98%;
    padding: 10px;
    font-size: 16px;
}

#profile-edit-group {
  width: 96%;
  padding: 10px;
  font-size: 16px;
}

.profile-multi-select-dropdown {
  position: absolute;
  top: 80px;
  width: 32%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-height: 180px;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.profile-multi-select-dropdown > label:first-of-type{
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 3px 8px;
margin: 0 !important;
}

.profile-edit-userType-div, .profile-edit-group-div {
  position: relative;
  cursor: pointer;
}

.profile-multi-select-dropdown > div{
  padding: 5px 5px 10px 8px;
  cursor: pointer;
}

.profile-multi-select-dropdown > div:hover{
  background-color: #cccccc7e;
}

.profile-multi-select-dropdown label span {
  font-size: 24px;
  cursor: pointer;
}

.profile-edit-group-div .profile-multi-select-dropdown {
  width: 96%;
  max-height: 100px;
}

.profile-photo img {
  width: 300px;
}