.export-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20000;
}

.export-modal-content {
  background-color: white;
  padding: 15px 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 42%;
  max-height: 90vh;
  overflow-y: auto;
  box-sizing: border-box;
}

.export-modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.export-modal-title h5 {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 500;
  margin: 0 auto;
}

.export-modal-title span {
  color: #5e5e62;
  font-size: 36px;
  cursor: pointer;
}

.export-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 15px;
}

.export-form label {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5px;
  color: #909094;
  font-weight: 600;
  font-size: 16px;
}

.export-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

.export-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.close {
  cursor: pointer;
}

.warehouse-type-dropdown label {
  padding: 5px;
}

.warehouse-type-dropdown div{
  color: black;
  font-weight: 500;
}

.export-modal .submit-btn {
  margin-top: 13px;
}