.bg-color {
    background-color: #2B75CC;
    width: 100%;
    height: 100vh;
    position: relative;
}

.onetimepassword-page {
    height: 480px;
    width: 480px;
    background-color: white;
    margin: 0 auto;
    padding: 100px;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.bg-color img {
    width: 600px;
    height: 450px;
}

.bg-color img:first-of-type {
    position: absolute;
    right: 0;
}

.bg-color img:last-of-type {
    position: absolute;
    left: 0;
    bottom: 0;
}

.onetimepassword-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.onetimepassword-text h5 {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    margin: 0 15px;
}

.onetimepassword-text hr {
    border: none;
    border-top: 2px solid #5E5E62;
    width: 100%;
    height: 2px;
    background-color: #5E5E62;
}

.onetimepassword-mail-password > div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.onetimepassword-mail-password input {
    width: 60px;
    height: 60px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    margin: 0 5px;
    outline: none;
    background-color: #F7F5FF;
}

.onetimepassword-mail-password input::placeholder{
    color: #D0D5DD;
    font-size: 40px;
    position: absolute;
    top:8px;
    left: 18px;
}

.onetimepassword-mail-password input:focus {
    border-color: #014FA7;
}

.onetimepassword-mail-password button {
    background: #014FA7;
    border-radius: 10px;
    color: white;
    border: 0;
    outline: none;
    margin-top: 15px;
    padding: 15px 0;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.onetimepassword-mail-password div:first-of-type> p {
    margin: 15px auto;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 15px;
    font-weight: 600;
    color: #5E5E62;
}

.onetimepassword-mail-password div:first-of-type> p a {
    color: #005ABF;
}

.spinner-border {
    margin-top: 10px;
}

.form-group .alert {
    margin-top: 15px;
}

.response-data {
    text-align: center;
    margin-top: 20px;
}

.response-data h5 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
}

.response-data p {
    font-family: Montserrat;
    font-size: 14px;
    color: #5E5E62;
}

.onetimepassword-mail-password > div:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    gap: 5px;
}

.onetimepassword-mail-password>div:last-of-type p{
    font-family: Nunito Sans;
    font-size: 17px;
    font-weight: 500;
    color: #5E5E62;
}

.onetimepassword-mail-password>div:last-of-type a{
    font-family: Nunito Sans;
    font-size: 17px;
    font-weight: 600;
    color: #005ABF;
}