.home-meet-section {
    display: flex;
    gap: 15px;
    padding: 25px 25px 25px 0;
    justify-content: space-between;
}
.home-meet-section .meet-time-date-img{
    background: linear-gradient(107deg, rgba(0, 89, 191, 0.589) 0%, rgba(0, 89, 191, 0.849) 100%);
    border-radius: 10px; 
    padding: 20px;
    color: white;
    width: 100%; 
    height: 150px;
    display: flex;
    justify-content: space-between;   
}

.home-meet-section .meet-time-date{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-meet-section .meet-time-date >p{
    font-family: Montserrat;
    font-size: 15px;

    display: flex;
    align-items: center;
    gap: 5px;
}

.home-meet-section .meet-time-date div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-meet-section .meet-time-date h5{
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 600;
}

.home-meet-section .meet-time-date div p{
    font-family: Montserrat;
    font-size: 20px;
    
}

.home-meet-section .meet-img {
    align-self: center;
}

.home-meet-section .meet-add{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    border: 1px dashed #909094;
    width: 100%;
    border-radius: 16px;
    border-width: 2px;
    
}

.home-meet-section .meet-add button{
    background-color: inherit;
    border: none;
    color: #909094;
    font-family: Montserrat;
    font-size: 20px;
    
    font-weight: 500;
    cursor: pointer;
}

.home-meet-section .meet-add svg{
    font-size: 30px;
    
}

.home-charts{
    display: flex;
    gap: 20px;
}

.home-employee-task{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 20px;
}

.home-employee-task div p {
    font-family: Montserrat;
    font-size: 16px;
    
    font-weight: 600;
    padding: 15px 20px;
}

.home-tasks>div p{
    font-family: Montserrat;
    font-size: 16px;
    
    font-weight: 600;
    padding: 10px 20px;
}

.home-employee-task ul, .home-tasks ul{
    display: flex;
    justify-content: space-around;
    padding: 8px 0;
    font-family: Montserrat;
    font-size: 16px;
    
}

.home-tasks ul{

}

.home-employee-task > ul, .home-tasks>ul {
    background-color: #2B75CC;
    color: white;
    font-weight: 600;
}


.home-employee-task > ul li:nth-of-type(2){
    margin-left: 40px;
}


.home-employee-task div ul li:first-of-type, .home-employee-task div ul li:last-of-type{
    color: #005ABF;
}

.home-tasks{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 20px;
}

.home-tasks> div:first-of-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.home-tasks> div:first-of-type a{
    text-decoration: underline;
    color: #2B75CC;
}

.home-tasks-sec{
    display: flex;
    gap: 10px;
}

.home-tasks div ul li{
    font-family: Nunito Sans;
    font-size: 16px;

}

.home-tasks div ul li:first-of-type{
    font-weight: 700;
}

.home-tasks div ul li:nth-of-type(2){
    color: #5E5E62;
}

.home-tasks div ul li svg{
    color: #E5C208;
    font-weight: 700;
}

.home-tasks div ul li:nth-of-type(4){
    color: #008B1B;
    font-weight: 500;
}

.home-tasks div ul li:last-of-type{
    background-color: #C9FFBD;
    color: #23B131;
    padding: 5px;
    border-radius: 16px;
}

.event-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}  