.taskType-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20000;
}

.taskType-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 24px;
    width: 80%;
    max-width: 54%;
    max-height: 90vh;
    overflow-y: auto;
    box-sizing: border-box;
}

.taskType-modal-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskType-modal-title h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 500;
    margin: 0 auto;
}

.taskType-modal-title > div {
    display: flex;
    gap: 4px;
    align-items: center;
}

.taskType-modal-title span {
    color: #5E5E62;
    font-size: 44px;
    cursor: pointer;
}

.taskType-modal-title svg {
    font-size: 27px;
    color: #005ABF;
    cursor: pointer;
}

.taskType-modal-content > hr:first-of-type {
    border: none;
    width: 100%;
    height: 0.2px;
    background-color: #5E5E62;
    margin: 5px 0 15px 0;
}

.taskType-modal-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service-detail {
  display: flex;
  flex-direction: column;
}

.taskType-info, .details-info, .service-detail > div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    align-items: end;
}

.taskType-info > div > div {
    display: flex;
    justify-content: space-between;
    padding: 8px 0 10px 0;
    gap: 25px;
}

.taskType-info label,
.taskType-note label, .service-detail label, #detailMap>label {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #2F3033;
    display: flex;
    align-items: center;
    gap: 7px;
}

.taskType-info span,
.taskType-note div span, .service-detail span {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.taskType-info svg,
.taskType-note div:first-of-type svg, #detailMap>label svg {
    font-size: 23px;
    color: #5B96DB;
}

.taskType-note {
    display: flex;
    flex-direction: column;
}

.taskType-note div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.taskType-note div:last-of-type {
    display: flex;
    flex-direction: column;
    margin: 15px 0 10px;
}

.taskType-note label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #333;
}

.taskType-note div:last-of-type span {
    margin-top:10px;
}

.taskType-phone span {
    color: #23B131;
}

.taskType-adress{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.taskType-photo img{
  height: 16vh;
  width: 120px;
  object-fit: contain;
}

.taskType-adress span {
    color: #005ABF;
}

.taskType-status span {
    color: #E5C208;
}

.details-info{
    margin-top: 25px;
}

.details-info label {
    white-space: nowrap;
}

.details-info > div > div{
padding: 0;
margin-bottom: 10px;
}

  
  .details-note textarea {
    resize: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    outline: none;
  }

  
 .taskType-modal hr {
    margin: 10px 0;
  }

  .details-title{
    display: flex !important;
    gap: 30px !important;
    position: relative;
  }
  
  .details-modal-title label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .details-modal-title input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-right: 10px;
  }

  .details-modal-body {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .details-modal-body input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    outline: none;
  }

  .details-modal-body button {
    padding: 13px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin-top: 12px;
  }
  
  .details-modal-body button:hover {
    background-color: #0056b3;
  }

  .updateTask-button{
    margin: 0 auto;
  }

  .details-toggle {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .details-toggle svg{
    font-size: 22px;
  }


  .details-title .taskType-options {
    width: 28%;
  }

  .taskType-options{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .taskType-option{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    padding: 10px;
  }

  .taskType-option:hover{
    background-color: #cccccc7e;
  }

  .status-dropdown-div{
    position: relative;
    z-index: 100;
  }

  .status-dropdown .details-toggle{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;  
    font-size: 18px;
}

  .status-dropdown .taskType-options{
    position: absolute;
    top: 45px;
    right: 0px;
    gap: 3px;
    width: 54%;
z-index: 10000;
  }

  .status-dropdown .taskType-options .taskType-option{
    padding: 8px;
  }

  #details-task svg{
    font-size: 20px;

  }

  #details-task .dropdown-task-toggle {
    padding: 9px;
    gap: 15px;
    width: 100%;
  }

  #details-task>div{
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    gap: 0;
  }

  #details-task .dropdown-task-menu{
    margin-top: 8px;
    width: 100%;
  }

  #details-task .dropdown-task-item{
    gap: 5px;
    justify-content: start;
    align-items: center;
    padding: 6px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
  }

  #details-task .dropdown-task-item input{
    width: max-content;
    margin-bottom: 0;
    display: none;
  }

  #details-task .dropdown-task-item:hover{
    background-color: #cccccc7e;
  }

  .details-note label, 
  #detailMap>label {
    margin-bottom: 10px !important;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-weight: 500;
    color: #2F3033;
  }

  .detailMap >div{
    margin-top: 10px;
  }

  .details-note > div{
    margin: 10px 0;
  }

  .add-survey-button{
    display: flex;
    background-color: inherit;
    justify-content: space-between;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .add-survey-button:hover{
    background-color: #5c5c5e2d;
  }

  .add-survey-button p{
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: 500;
  }

  .add-survey-button svg{
    font-size: 26px;
    color: #005ABF;
  }

  .service-detail > h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
  }

  .service-detail > hr{
    margin-bottom: 15px;

  }

  .service-detail > h5 span {
    color: #005ABF;
    font-size: 24px;
    cursor: pointer;
  }

  .service-details {
    gap: 30px ;
  }

  .service-details > div{
    margin: 25px 0;
  }

  .detail-item {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .detail-item img {
    width: 55%;
    object-fit: contain;
    height: 100px;
  }

  .task-type-select {
    display: flex;
    align-items: center;
  }

  .task-type-select .taskType-options{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    top: 45px;
    right: 0px;
    gap: 3px;
    width: 54%;
  }

  .task-type-select .taskType-options .taskType-option {
    padding: 8px;

  }

  .taskType-modal .type-icon{
    display: flex;
    gap: 7px;
  }
  .passportUpdate{
    display: flex;
    flex-direction: column;
    gap: 10px;
    }

    .passportUpdate > label{
      margin: 10px 0 !important;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-weight: 500;
    color: #2F3033;
    }
    
    .passportUpdate label {
      font-size: 18px;
      align-items: center;
      width: 50vh !important;
    }
    .passportUpdate label>span {
      color: #005abf;
      font-family: Nunito Sans, sans-serif;
      font-size: 18px;
      font-weight: 600;
    }
    .passportUpdate label span {
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }
    
    .passportUpdate label {
      display: flex;
      align-items: center;
    }

.passportUpdate .upload-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.upload-passport-button{
  width: 70vh !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #ccc;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  height: 80px;
  width: 100%;
  color: #005abf;
  font-family: Nunito Sans, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.taskDetailTime{
  display: flex;
  gap: 5px;
}