.event-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}

.event-modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 52%;
  max-height: 96vh;
  overflow-y: auto;
  box-sizing: border-box;
}

.event-modal h5 {
  margin: 0 auto;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
}

.event-modal > div {
  display: flex;
  margin-bottom: 5px;
}

.event-modal>div button{
  align-self: end;
  border: none;
  background-color:inherit;
}

.event-modal>div:first-of-type button svg{
  font-size: 24px;
  color: #5E5E62;
  cursor: pointer;
}

.event-modal hr{
  margin-bottom: 20px;
}

.event-modal section, .meetingType-participants section {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.meetingType-participants section label, .event-modal label {
  width: 100%;
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 500;
  color: #909094;
}

.meetingType-participants > div{
  width: 100%;
}

.event-modal input[type="text"],
.event-modal input[type="date"],
.event-modal input[type="time"],
.event-modal textarea, .meetingType-participants section > div {
  width: 100%;
  padding: 7px;
  margin-top: 4px;
  border: 1px solid #F7F5FF;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #F7F5FF;
  outline: none;
  font-family: Nunito Sans;
  font-size: 16px;
}

.meetingType-participants section > div{
  color: black;
  font-family: Nunito Sans;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meetingType-participants section > div > span {
  display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.meetingType-participants section > div > span > span{
  display: flex;
}

.meetingType-participants section > div span svg{
  font-size: 16px;
  color: black !important;
}

.event-modal textarea {
  max-width: 100vw;
  width: 100%;
  height: 100px;
  overflow: hidden; 
  resize: none;
}

.event-modal div:last-of-type:not(.meeting-datepicker button) > button {
  margin-top: 10px;
  background-color: #005ABF;
  color: white;
  border: none;
  border-radius:10px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
}

.event-modal button:not(:last-child) {
  margin-right: 10px;
}

.event-modal > button:hover {
  background-color: #0056b3;
}

.event-modal> div:last-of-type{
  display: flex;
  flex-direction: column;
}

.event-modal>div>div {
  display: flex;
  gap: 10px;
}


.event-modal div>section:nth-of-type(2){
  position: relative;
}

.event-modal div>section:nth-of-type(2) svg{
  position: absolute;
  right: 10px;
  top: 34px;
  color: #005ABF;
}

.meetingType-participants section{
  position: relative;
}

.meetingType-participants {
  position: relative;
}

.modal-overlay-meetingType, .modal-overlay-participants{
  position: absolute;
  width: 50% !important;
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-height: 210px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.modal-overlay-meetingType .modal-header, .modal-overlay-participants .modal-header{
  display: flex;
  padding: 8px;
  background-color: white; 
  align-items: center;
justify-content: space-between;
font-family: Nunito Sans;
font-size: 17px;
font-weight: 500;
color: #909094;
}

.modal-overlay-meetingType .modal-header svg, .modal-overlay-participants .modal-header svg {
  font-weight: bold;
color: #909094;
font-size: 17px;
cursor: pointer;
}

.modal-overlay-meetingType{
  top: 70px;
}

.modal-overlay-participants{
  top: 70px;
  right: 0;
}

.modal-overlay-meetingType .modal-body div, .modal-overlay-participants .modal-body div {
  padding: 10px;
  cursor: pointer;
  background-color: white;
  font-family: Nunito Sans;
font-size: 16px;
font-weight: 500;
}

.modal-overlay-meetingType .modal-body div:hover, .modal-overlay-participants .modal-body div:hover {
  background-color: #f0f0f0;

}

.event-modal-overlay .error-message {
  margin-bottom: 8px;
}