.task-page{
    width: 98%;
}
.task-page .table-container {
    margin-top: 20px;
    border-radius: 12px;

  }
  
  .task-page  table {
    width: 100%;
    border-spacing: 10px;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    max-width: 100%;
    overflow-x: auto;
  }
  
  .task-page th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .task-page thead{
    background-color: #D2E5FA;
    height: 60px;
  }

  .task-page tbody{
    background-color: white;

  }
  
  
  .task-page .problem {
    color: #EA0A0A;
  }
  
  .task-page .connection {
    color: #005ABF;
  }
  
  .task-page .type-icon {
    font-size: 20px;
  }
  
  .task-page-title{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
  }
  
  .task-page-title p{
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
  }

  .task-page-title div{
    display: flex;
    gap: 10px;
  }

  .task-page-title div button{
    padding: 10px;
    border-radius: 12px;
    border: 2px solid #005ABF;
    display: flex;
    align-items: center;
    gap: 2px;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 500;
  }

  .task-page-title div button svg{
    font-size: 26px;
  }

  .task-page-title div button:first-of-type{
    color: #005ABF;
    background-color: none;
  }

  .task-page-title div button:last-of-type{
    background-color: #005ABF;
    color: white;
  }

  .task-page-title div button:last-of-type svg{
    color: white;    
  }

  .taskPage-taskType{
    display: flex;
  }

  .taskPage-taskType button{
    background-color: inherit;
    border:0;
    border-bottom: 2px solid #ABABAF;
    width: 100%;
    padding: 10px 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
}

.activeButton{
    border-color: #005ABF !important;
    color: #005ABF !important;
}

.task-history-status{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 0;
    align-items: center;
}

.task-history-status button:first-of-type{
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background-color: white;
  padding: 8px;
  border: none;
  border-radius: 8px;
}

.task-history-status button:first-of-type div span{
  background-color: #2B75CC;
  padding: 7px 10px;
  color: #fff;
  border-radius: 8px;
}

.task-history-status button p{
  color: #2B75CC;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

.task-history-status button:last-of-type{
    background-color: white;
    border: 1px solid #909094;
    padding: 9px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 15px;
    font-family: Nunito Sans;
    font-weight: 500;
    cursor: pointer;
}

.task-history-status button span:first-of-type{
color: #5E5E62;
}
.task-history-status button span:last-of-type{
font-weight: bold;
}

.task-history-status svg{
    font-size: 14px;
}



.inprogress {
    background-color: #C9FFBD;
    color: #23B131;
    border: 1px solid #23B131;
  }
  
  .waiting {
    background-color: #FFF7CC;
    color: #856404;
    border: 1px solid #C9AA08;
  }
  
  .completed {
    background-color: #D2E5FA;
    color: #005ABF;
    border: 1px solid #005ABF;
  }

  .task-status button{
    border-radius: 16px;
    padding: 5px 10px;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 500;
}

  .table-container tbody tr td:not(:first-of-type){
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 500;
  }

  .table-container tbody tr td:nth-of-type(2){
    font-weight: bold;
    white-space: nowrap;
  }


  .table-container tbody tr td:nth-of-type(4){
    color: #5E5E62;
  }

  .table-container tbody tr td:first-of-type{
    font-size: 14px;
    font-weight: 400;
    color: #909094;
  }


  .table-container tbody tr td:nth-of-type(5) svg{
    color: #E5C208;
    font-size: 22px;
  }

  .table-container tbody tr td:nth-of-type(6){
    color: #008B1B;
  }

  .table-container tbody tr td:nth-of-type(7){
    color: #2F3033;
  }

  .table-container table tbody tr td:nth-of-type(6){
    max-width: 150px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
  }

  .date-modal {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.date-modal div {
    padding: 10px;
    cursor: pointer;
}

.date-modal div:hover {
    background-color: #f1f1f1;
}

.date-modal, .status-modal {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1000;
  width: 150px;
  padding: 10px;
}

.status-modal{
  right: 10px;

}

.date-modal div, .status-modal div {
  padding: 10px;
  cursor: pointer;
  font-family: Nunito Sans;
  font-size: 16px;
}

.date-modal div:hover, .status-modal div:hover {
  background-color: #f0f0f0;
}

.date-modal div.active, .status-modal div.active {
  background-color: #e0e0e0;
  font-weight: bold;
}

.date-modal div:first-of-type, .status-modal div:first-of-type{
  font-weight: 700;
}

.status-modal div:nth-of-type(2){
  color: #23B131;
}

.status-modal div:nth-of-type(3){
  color: #C9AA08;
}

.status-modal div:nth-of-type(4){
  color: #005ABF;
}

.status-modal div:last-of-type{
  color: #909094;
}