.task-modal,
.add-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20000;
}

.task-modal-content,
.add-user-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 52%;
  max-height: 87vh;
  overflow-y: auto;
  scrollbar-width: thin;
  box-sizing: border-box;
}

.task-modal-title,
.add-user-modal-title,
.add-group-modal-title,
.add-room-modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-modal-title h5,
.add-user-modal-title h5,
.add-group-modal-title h5,
.add-room-modal-title h5 {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 500;
  margin: 0 auto;
}

.task-modal-title span,
.add-user-modal-title span,
.add-group-modal-title span,
.add-room-modal-title span {
  color: #5e5e62;
  font-size: 36px;
  cursor: pointer;
}

.task-modal-content > hr:first-of-type {
  border: none;
  width: 100%;
  height: 0.3px;
  background-color: #5e5e62;
  margin: 10px 0;
}

.taskModal-taskType {
  display: flex;
}

.taskModal-taskType button {
  background-color: inherit;
  border: 0;
  border-bottom: 3px solid #ababaf;
  width: 100%;
  padding: 10px 0;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.taskModal-taskType .activeButton {
  border-color: #005abf !important;
  color: #005abf !important;
}

.task-modal-content .form-group {
  margin-bottom: 15px;
  width: 100%;
}

.task-modal-content label {
  display: block;
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #909094;
}

.task-modal-content input[type="text"],
.task-modal-content input[type="date"],
.task-modal-content input[type="time"],
.task-modal-content select,
.task-modal-content textarea {
  width: 10vw;
  padding: 5px;
  height: 35px;
  font-size: 14px;
  border: 1px solid #f7f5ff;
  border-radius: 5px;
  background-color: #f7f5ff;
}

.task-modal-content input[type="time"] {
  width: 6.3vw;
}

.task-modal-content input[type="text"],
.task-modal-content select {
  width: 100%;
}

.task-modal-content textarea {
  width: 100%;
  height: 7vw;
}

.task-modal-content input[type="text"]:focus,
.task-modal-content input[type="date"]:focus,
.task-modal-content select:focus,
.task-modal-content textarea:focus {
  outline: none;
  box-shadow: 0 0 2px 1px #007bff;
}

.task-modal-content #adress {
  width: 100%;
}

.tv-voice-internet {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.tv-voice-internet label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 27%;
  height: 40px;
  border: 2px solid #ffd600;
  border-radius: 12px;
  gap: 5px;
  cursor: pointer;
}

.tv-voice-internet label {
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.tv-voice-internet div button {
  background-color: inherit;
  border: none;
  color: #5e5e62;
  cursor: pointer;
}

.tv-voice-internet div button svg {
  color: #5e5e62;
}

.tv-voice-internet .activeTask {
  background-color: #ffd600;
}

.tv-voice-internet input[type="checkbox"] {
  display: none;
}

.task-modal-content input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

.task-modal-content button[type="submit"] {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background-color: #005abf;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0;
}

.task-date-form {
  display: flex;
  align-items: center;
  gap: 5px;
}

.capitalize-first-letter::first-letter {
  text-transform: uppercase;
}

.task-name-date,
.registerNumber-contactNumber,
.taskService-taskGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.dropdown-task {
  position: relative;
  display: inline-block;
  width: 100%;
  display: contents;
}

.add-task-group-dropdown .dropdown-task {
  display: block;
}

.add-task-group-dropdown .dropdown-task-menu {
  top: 122% !important;
}

.dropdown-task-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f9f9f9;
}

.dropdown-task-toggle:hover {
  background-color: #e9e9e9;
}

.dropdown-task-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  z-index: 5000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.dropdown-task-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.dropdown-task-item:hover {
  background-color: #e4effb;
}

.dropdown-task-item input {
  margin-right: 10px;
}

.dropdown-task-menu::-webkit-scrollbar {
  width: 8px;
}

.dropdown-task-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dropdown-task-menu::-webkit-scrollbar-thumb {
  background: #888;
}

.dropdown-task-menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.task-date-form .form-group {
  margin: 0 !important;
}

.task-name-date {
  margin-bottom: 15px;
}

.error-message {
  background-color: #be3f3b;
  width: max-content;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 4px;
  display: block;
  color: white;
}

.mapDiv {
  width: 100%;
}

.mapDiv > div {
  z-index: 0;
}

/* .task-modal-content .form-group > img{
  width: 50vh;
} */

.passportImage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.passportImage label {
  font-size: 18px;
  align-items: center;
}
.passportImage label > span {
  color: #005abf;
  font-family:
    Nunito Sans,
    sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.passportImage label span {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.passportImage label {
  display: flex;
  align-items: center;
}

.details-modal-body > div {
  width: 100%;
}
