.history-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-page section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.button-container div {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.button-container button {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 3px;
  color: #005abf;
  border: 2px solid #005abf;
  background-color: inherit;
  border-radius: 12px;
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.selectedButton {
  background-color: #005abf !important;
  color: white !important;
}

.filter-container {
  display: flex;
  gap: 10px;
}

.filter-item {
  border-radius: 5px;
  padding: 5px 10px;
}

.filter-item input[type="date"] {
  border: none;
  width: 100%;
  padding: 5px;
  font-size: 16px;
}

.filter-item-modal button {
  padding: 10px;
  display: flex;
  gap: 4px;
  align-items: center;
  border-radius: 8px;
  background-color: white;
  border: 0.5px solid #ababaf;
  cursor: pointer;
}

.filter-item-modal button span {
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 500;
}

.filter-item-modal button span:last-of-type {
  font-weight: bold !important;
}

.custom-datepicker {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 100%;
}

.history-region-modal {
  position: relative;
  display: flex;
  align-items: center;
}

.historyTable th,
.historyTable td {
  font-size: 14px !important;
  padding: 14px 8px !important;
}

.warehouseTable tbody td {
  cursor: pointer;
}

.warehouseTable tbody tr:hover {
  background-color: #f1f1f1;
  transition-duration: 0.5s;
}
